<div class="card">
    <div id="listCategory">
        <div class="flex justify-content-between mb-3">
            <div></div>
            <span class="p-buttonset">
                <button (click)="refresh()" pButton pRipple label="Refresh" icon="pi pi-refresh"
                    class="border-white"></button>
                <button (click)="addEdit('add')" pButton pRipple label="Add" icon="pi pi-plus"
                    class="border-white"></button>
                <button (click)="addEdit('edit')" pButton pRipple label="Edit" icon="pi pi-pencil"
                    class="border-white"></button>
                <button (click)="delete()" pButton pRipple label="Delete" icon="pi pi-trash"
                    class="border-white"></button>
                <button (click)="exportExcel()" pButton pRipple label="Export All" icon="pi pi-download"
                    class="bg-yellow-500 hover:bg-yellow-600 border-white"
                    [loading]="tableOptions.exportLoading" [disabled]="!listCategory.length"></button>
            </span>
        </div>
        <p-table #dtCategory [value]="listCategory" selectionMode="single" [(selection)]="selectedCategory" dataKey="id"
            [rows]="250" [loading]="tableOptions.loading" [rowHover]="true" styleClass="p-datatable-gridlines"
            [paginator]="true" [globalFilterFields]="globalFilterFields" [rowsPerPageOptions]="[250,500,1000]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
            responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="w-full flex justify-content-between">
                    <span class="p-input-icon-right">
                        <input [(ngModel)]="searchTable" (ngModelChange)="onGlobalFilter(dtCategory)" type="text" pInputText placeholder="Search" />
                        <i class="pi pi-search"></i>
                    </span>
                    <div>
                        <button pButton (click)="clearFilter(dtCategory)" label="Clear" class="p-button-outlined"
                            icon="pi pi-filter-slash"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of tableOptions.visibleCols" style="min-width: 120px;">
                        <div class="flex justify-content-between align-items-center">
                            {{col.label}}
                            <p-columnFilter type="text" field="{{col.id}}" display="menu"
                                placeholder="Search by {{col.label}}"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Category>
                <tr [pSelectableRow]="Category">
                    <td *ngFor="let col of tableOptions.visibleCols">
                        {{col.id != 'isActive' ? Category[col.id] : ''}}
                        <p-badge *ngIf="col.id=='isActive'" [severity]="Category.isActive ? 'success' : 'danger'" styleClass="p-mr-2"></p-badge>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No category found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading categories data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
