<div class="card">
  <div id="listForecasts">
      <p-table #dtForecasts [value]="months" selectionMode="single" dataKey="id"
            [rows]="250" [loading]="tableOptions.loading" [rowHover]="true" styleClass="p-datatable-gridlines"
            [globalFilterFields]="globalFilterFields"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
            responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-end align-items-center">
                  <label class="mr-2">Year :</label>
                  <p-dropdown class="flex mt-1" [options]="years" [(ngModel)]="selectedYear"  (ngModelChange)="getForecasts()"  ></p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of tableOptions.visibleCols" style="min-width: 120px;">
                        <div class="flex justify-content-between align-items-center">
                            {{col.label}}
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Forecasts let-editing="editing">
                <tr  [pEditableRow]="Forecasts">
                    <td *ngFor="let col of tableOptions.visibleCols" [pEditableColumn]="Forecasts[col.id]" pEditableColumnField="col.id">
                      <ng-container *ngIf="col.id=='month' || col.id=='forecastedDays' || getForecastValueByMonth(Forecasts['id'] , 'month')<currentMonthName">
                        {{col.id != 'month' ? getForecastValueByMonth(Forecasts['id'] , col.id) : Forecasts['label']}}
                      </ng-container>
                      <p-cellEditor *ngIf="col.id!=='month' && col.id!=='forecastedDays' && getForecastValueByMonth(Forecasts['id'] , 'month')>=currentMonthName">
                          <ng-template pTemplate="input">
                            <input  pInputText type="text" [(ngModel)]="col.id != 'month' ? getForecastValueByMonth(Forecasts['id'] , col.id) : Forecasts['label']">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{col.id != 'month' ? getForecastValueByMonth(Forecasts['id'] , col.id) : Forecasts['label']}}
                          </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Forecasts found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading Forecastss data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex justify-content-end align-items-center mr-3 mt-2">
          <button  pButton pRipple label="Save changes"  class="border-white"></button>
        </div>
  </div>
</div>
