<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid p-2 mt-2 mb-4">
    <div class="formgrid grid">
      <div class="field col-12 md:col-3">
        <label for="profile" class="font-semibold">Profile <span class="text-red-500">*</span></label>
        <p-dropdown [options]="profile" optionLabel="displayLabel" formControlName="profile"
          [class]="addEditForm.get('profile')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
        <p-message *ngIf="addEditForm.get('profile')?.invalid && isSubmited" severity="error"
          [text]="getErrorMessage('profile', addEditForm.get('profile')?.errors)"></p-message>
      </div>
      <div class="field col-12 md:col-3">
        <label for="level" class="font-semibold">Level <span class="text-red-500">*</span></label>
        <p-dropdown [options]="level" optionLabel="displayLabel" formControlName="level"
          [class]="addEditForm.get('level')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
        <p-message *ngIf="addEditForm.get('level')?.invalid && isSubmited" severity="error"
          [text]="getErrorMessage('level', addEditForm.get('level')?.errors)"></p-message>
      </div>
      <div class="field col-12 md:col-3">
        <label for="onFarSite" class="font-semibold">On/Far Site</label>
        <p-dropdown [options]="onFarSite" formControlName="onFarSite"></p-dropdown>
      </div>
      <div class="field col-12 md:col-3">
        <label for="category"  class="font-semibold">Category <span class="text-red-500">*</span></label>
        <p-dropdown [options]="category" optionLabel="displayLabel" formControlName="category"
          [class]="addEditForm.get('category')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
        <p-message *ngIf="addEditForm.get('category')?.invalid && isSubmited" severity="error"
          [text]="getErrorMessage('category', addEditForm.get('category')?.errors)"></p-message>
      </div>
      <div class="field col-12 md:col-3">
        <label for="serviceLC" class="font-semibold">Service Level Category</label>
        <p-dropdown [options]="serviceLC" formControlName="serviceLC"></p-dropdown>
      </div>
      <div class="field col-12 md:col-3">
        <label for="company" class="font-semibold">Company</label>
        <p-dropdown [options]="company" optionLabel="displayLabel" formControlName="company"></p-dropdown>
      </div>
      <div class="field col-12 md:col-2">
        <label for="nDays" class="font-semibold">Nº Days</label>
        <input type="text" pInputText formControlName="nDays">
      </div>
      <div class="field col-12 md:col-4">
        <label for="salesPrice" class="font-semibold">Sales Price</label>
        <div class="flex">
          <input type="text" pInputText formControlName="salesPrice">
          <p-dropdown placeholder="€"></p-dropdown>
        </div>
      </div>
      <div class="field col-12 md:col-3">
        <label for="iban" class="font-semibold">IBAN Number</label>
        <input type="text" pInputText formControlName="iban">
      </div>
      <div class="field col-12 md:col-3">
        <label for="placeOfExecution" class="font-semibold">Place Of Execution</label>
        <input type="text" pInputText formControlName="placeOfExecution">
      </div>
      <div class="field col-12 md:col-3">
        <label for="apllyCP" class="font-semibold">Apply contractor's premises</label>
        <div class="flex justify-content-center align-items-center mt-2">
          <p-inputSwitch formControlName="apllyCP"></p-inputSwitch>
        </div>
      </div>
      <div class="field col-12 md:col-3">
        <label for="apllyITE" class="font-semibold">Apply contractor's equipment</label>
        <div class="flex justify-content-center align-items-center mt-2">
          <p-inputSwitch formControlName="apllyITE"></p-inputSwitch>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="otherExpertise" class="font-semibold">Other expertise required <span class="text-red-500">*</span></label>
      <textarea rows="5" cols="30" formControlName="otherExpertise" pInputTextarea
        [class]="addEditForm.get('otherExpertise')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></textarea>
      <p-message *ngIf="addEditForm.get('otherExpertise')?.invalid && isSubmited" severity="error"
        [text]="getErrorMessage('otherExpertise', addEditForm.get('otherExpertise')?.errors)"></p-message>

    </div>
  </div>
  <div class="footer">
    <button (click)="close()" type="button" pButton pRipple class="p-button-sm p-button-secondary ml-2"
      label="Close"></button>
    <button type="submit" pButton pRipple class="p-button-sm p-button-primary" label="Save"
      [loading]="actionLoading"></button>
  </div>
</form>
