<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="">
  <div class="p-fluid p-2 mt-1 mb-5">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="profile" class="font-semibold">Profile</label>
        <p-dropdown [options]="profile" formControlName="profile"></p-dropdown>
      </div>
      <div class="field col-12 md:col-6">
        <label for="penaltyDays" class="font-semibold">Penalty days</label>
        <input type="text" pInputText formControlName="penaltyDays">
      </div>
      <div class="field col-12 md:col-6">
        <label for="penaltyAmount" class="font-semibold">Penalty amount</label>
        <div class="flex grouped-select">
          <p-inputNumber formControlName="penaltyAmount" inputId="locale-us" mode="decimal" locale="en-US"
            [minFractionDigits]="2"> </p-inputNumber>
          <p-dropdown placeholder="€"></p-dropdown>
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <label for="penaltyComment" class="font-semibold">Penalty comment</label>
        <input type="text" pInputText formControlName="penaltyComment">
      </div>
    </div>
  </div>
  <div class="footer">
    <button (click)="close()" type="button" pButton pRipple class="p-button-sm p-button-secondary ml-2"
      label="Close"></button>
    <button type="submit" pButton pRipple class="p-button-sm p-button-primary" label="Save"
      [loading]="actionLoading"></button>
  </div>
</form>
