<div class="grid p-2">
    <a routerLink="TM" class="col-12 md:col-6 p-2">
        <div class="card flex flex-column align-items-center p-8 border-3 hover:border-primary">
            <i class="pi pi-shopping-bag text-5xl"></i>
            <h3 class="mb-2 font-bold">T&M Control</h3>
            <small>Time & Means execution</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="PTM" class="col-12 md:col-6 p-2">
        <div class="card flex flex-column align-items-center p-8 border-3 hover:border-primary">
            <i class="pi pi-shopping-bag text-5xl"></i>
            <h3 class="mb-2 font-bold">PTM Control</h3>
            <small>Proximity Time & Means execution </small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
</div>
<div class="grid p-2">
    <a routerLink="QTM" class="col-12 md:col-4 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-th-large text-5xl"></i>
            <h4 class="mb-2">QTM Control</h4>
            <small>Quoted Time & Means execution</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="FP" class="col-12 md:col-4 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-file text-5xl"></i>
            <h4 class="mb-2">FP Control</h4>
            <small>Fixed Price execution</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
    <a routerLink="Provision" class="col-12 md:col-4 p-2">
        <div class="card flex flex-column align-items-center p-6 border-3 hover:border-primary">
            <i class="pi pi-file text-5xl"></i>
            <h4 class="mb-2">Provision Control</h4>
            <small>Management of extra services</small>
            <i class="pi pi-chevron-right text-primary text-xl mt-4"></i>
        </div>
    </a>
</div>