<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <p-tabView orientation="left">
          <div class="field">
              <label for="ValueId"> <b>ValueId</b></label>
              <input type="text" pInputText placeholder="ValueId" formControlName="ValueId">
          </div>
          <div class="field">
              <b class="mr-2">Is active</b>
              <p-radioButton id="isActive" name="groupname" class=" mr-2" [value]="true" label="Yes"
                  formControlName="isActive"></p-radioButton>
              <p-radioButton id="isActive" name="groupname" class="" [value]="false" label="No"
                  formControlName="isActive"></p-radioButton>
          </div>
  </p-tabView>
  <div class="footer">
      <button type="submit" pButton class="p-button-sm p-button-primary" label="Save"></button>&nbsp;
      <button (click)="close()" type="button" pButton class="p-button-outlined p-button-sm p-button-secondary" label="Close"></button>
  </div>
</form>
