:host ::ng-deep .navigation .p-tabview .p-tabview-nav {
  justify-content: space-evenly;
  border-color: transparent;
  padding: 2px 0;
}

:host ::ng-deep .navigation .p-tabview .p-tabview-nav .p-tabview-nav-link {
  border-radius: 6px;
  border: solid 1.5px #6785C1;
  padding: 10px 15px;
  font-weight: 600;
}

:host ::ng-deep .navigation .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #6785C1;
  border-color: #6785C1;
  color: #ffffff;
}

:host ::ng-deep .navigation .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: unset;
}


/* Side-tabview  */
:host ::ng-deep .side-tabview .p-tabview {
  display: flex;
  align-items: normal;

}
:host ::ng-deep .side-tabview .p-tabview .p-tabview-panels {
  padding: 0;
  width: 100%;
}
:host ::ng-deep .side-tabview .p-tabview .p-tabview-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border-color: transparent;
}
:host ::ng-deep .side-tabview .p-tabview .p-tabview-nav .p-tabview-nav-link {
  margin: 0 15px 10px;
  padding: 1.25rem;
}

:host ::ng-deep .clickable-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  
} 

:host ::ng-deep .position {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  top: 8%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

:host ::ng-deep .position h3 {
  margin: 0;
}

:host ::ng-deep .position p {
  padding-left: 25px;
}
