<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-2 mb-4">
        <div class="field">
            <label for="roleName"> <b>Role name </b><span class="text-red-500">*</span></label>
            <input type="text" pInputText 
                [class]="addEditForm.get('roleName')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"
                placeholder="Role name" formControlName="roleName">
            <p *ngIf="addEditForm.get('roleName')?.invalid && isSubmited" class="text-red-500 pi pi-exclamation-triangle m-2"> Role name is required</p>
        </div>
        <div class="field">
            <label for="roleType"> <b>Role type</b><span class="text-red-500">*</span></label>
            <p-dropdown [options]="types" placeholder="Choose type" formControlName="roleType"
                    optionLabel="name" [class]="addEditForm.get('roleType')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
            <p *ngIf="addEditForm.get('roleType')?.invalid && isSubmited" class="text-red-500 pi pi-exclamation-triangle m-2"> Role type is required</p>
        </div>
    </div>
    <div class="footer">
        <button type="submit" pButton pRipple class="p-button-sm p-button-primary ml-2" label="Save"></button>
        <button (click)="close()" type="button" pButton pRipple class="p-button-outlined p-button-sm p-button-secondary"
            label="Close"></button>
    </div>
</form>
