<div *ngIf="addEditForm">
    <form [formGroup]="addEditForm">
        <p-tabView orientation="left">
            <p-tabPanel header="Days worked" class="p-fluid m-0">
                <div class="formgrid grid">
                    <label class="pt-2 font-bold">Month</label>
                    <div class="field col">
                        <p-calendar dateFormat="MM/yy" view="month" [showIcon]="true" [readonlyInput]="true" formControlName="month"></p-calendar>
                    </div>
                    <label class="pt-2 font-bold">Forecast</label>
                    <div class="field col">
                        <input decimal type="text" pInputText formControlName="forecast">
                    </div>
                    <label class="pt-2 font-bold">Days worked</label>
                    <div class="field col">
                        <input decimal type="text" pInputText formControlName="daysWorked">
                    </div>
                </div>    
                <div class="formgrid grid">
                    <label class="pt-2 font-bold">Consultant</label>
                    <div class="field col">
                        <p-dropdown [options]="consultant" formControlName="consultant" optionLabel="consultantName"></p-dropdown>
                    </div>
                    <label class="pt-2 font-bold">Days not invoiceable</label>
                    <div class="field col">
                        <input decimal type="text" pInputText formControlName="daysNotInvoiceable">
                    </div>
                    <label class="pt-2 font-bold">Days not payable</label>
                    <div class="field col">
                        <input decimal type="text" pInputText formControlName="daysNotPayable">
                    </div>
                </div> 
                <div class="formgrid grid">
                    <label class="pt-2 font-bold">OERP project code<span class="text-red-500">*</span></label>
                    <div class="field col">
                        <p-dropdown [options]="consultant" formControlName="oerpProjectCode" optionLabel="oerpProjectCode"
                            [class]="addEditForm.get('oerpProjectCode')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
                    <p-message *ngIf="addEditForm.get('oerpProjectCode')?.invalid && isSubmited" severity="error"
                        text="OERP project code is required"></p-message>
                    </div>
                    <label class="pt-2 font-bold">Profile</label>
                    <div class="field col">
                        <p-dropdown [options]="consultant" formControlName="profile" optionLabel="profile"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Documentation" class="p-fluid m-0">
                <div class="field col">
                    <p-fileUpload mode="basic" name="demo[]" chooseLabel="Click or drag file(s) here" [auto]="true" class="flex align-items-center justify-content-center"></p-fileUpload>
                    <p-table #dtFile [value]="files" styleClass="p-datatable-gridlines" class="m-5">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                </th>
                                <th *ngFor="let col of cols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-file>
                            <tr (dblclick)="edit(file)">
                                <td>
                                    <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text" (click)="edit(file)"></p-button>
                                    <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text" (click)="delete(file)"></p-button>
                                </td>
                                <td *ngFor="let col of cols">
                                    {{file[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>    
            </p-tabPanel>
        </p-tabView>
        <div class="footer">
            <button type="submit" pButton (click)="onSubmit()" class="p-button-sm p-button-primary" label="Save" [loading]="actionLoading"></button>
            <button (click)="close()" type="button" pButton class="p-button-outlined p-button-sm p-button-secondary mr-2" label="Close"></button>
        </div>
    </form>
</div>                
