<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
<p-fieldset>
    <ng-template pTemplate="header">General infos</ng-template>
    
<div class="form-group">
<label for="CompanyName" > <b>Company Name </b>
<span class="required-asterisk">*</span>
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="Company name" style="width: 100%" formControlName="companyName">

</div>
<div class="form-group">
<label for="IBANNumber" > <b>IBAN Number</b> 
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="IBAN Number" formControlName="ibanNumber" style="width: 100%">
</div>
<div class="form-group">
<label for="Email" > <b>Email</b> 
    <span class="required-asterisk">*</span>
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="Email" formControlName="cmpEmail" style="width: 100%">
</div>
<div class="form-group">
<label for="VATLegalEntity" > <b>VAT legal entity</b> 
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="VAT legal entity" formControlName="vatLegal" style="width: 100%">  
</div>
<div class="form-group">
<label for="BIC/SWIFT" > <b>BIC/SWIFT</b> 
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="BIC/SWIFT" formControlName="bic" style="width: 100%">  
</div>
<div class="form-group">
<label for="Approver" > <b>Approver</b> 
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="Approver" formControlName="approver" style="width: 100%">  
</div>
<div class="form-group">
<label for="VATRate" > <b>VAT rate</b> 
</label><br/>
<input type="text" pInputText class="p-inputtext-sm form-control" placeholder="VAT rate" formControlName="vatRate" style="width: 100%">  
</div>
<div class="form-group">
<b>Is NTT data</b>&nbsp;
<p-radioButton *ngFor="let nttData of NTTData" name="groupname" class="form-control" value="{{nttData}}" label="{{nttData}}" formControlName="isNTTData"></p-radioButton>
</div>

</p-fieldset>
<div class="footer">
        <button id="btn" type="submit" pButton class="p-button-sm p-button-primary" label="Save"></button>&nbsp;
        <button id="btn" (click)="close()" pButton class="p-button-outlined p-button-sm p-button-secondary" label="Close"></button>
    
</div>
</form>
