<div *ngIf="addForm">
    <form [formGroup]="addForm" class="pb-4">
        <p-tabView orientation="left">
            <p-tabPanel header="Payment" class="p-fluid m-0">
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Invoicing period</label>
                        <div class="p-inputgroup">
                            <input type="text" pInputText formControlName="invoicingPeriodStart">
                            <input type="text" pInputText formControlName="invoicingPeriodEnd">
                        </div>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">Invoice amount<span class="text-red-500">*</span></label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">€</span>
                            <input type="text" decimal pInputText formControlName="totalAmount"
                                [class]="addForm.get('totalAmount')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                            <p-message *ngIf="addForm.get('totalAmount')?.invalid && isSubmited" severity="error"
                                text="Invoice amount is required"></p-message>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">VAT amount</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">€</span>
                            <input type="text" decimal pInputText formControlName="vatAmount">
                        </div>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">Invoice subtotal</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">€</span>
                            <input type="text" decimal pInputText formControlName="invoiceSubtotal">
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Invoice reference<span class="text-red-500">*</span></label>
                        <input type="text" pInputText formControlName="invoiceReference"
                            [class]="addForm.get('invoiceReference')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                        <p-message *ngIf="addForm.get('invoiceReference')?.invalid && isSubmited" severity="error"
                            text="Invoice reference is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">Invoice date<span class="text-red-500">*</span></label>
                        <p-calendar [showIcon]="true" [readonlyInput]="true" formControlName="invoiceDate"
                            [class]="addForm.get('invoiceDate')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-calendar>
                        <p-message *ngIf="addForm.get('invoiceDate')?.invalid && isSubmited" severity="error"
                            text="Invoice date is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">Payment schedule<span class="text-red-500">*</span></label>
                        <p-calendar [disabledDates]="disabledDates" [showIcon]="true" [readonlyInput]="true"
                            formControlName="paymentSchedule"
                            [class]="addForm.get('paymentSchedule')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-calendar>
                        <p-message *ngIf="addForm.get('paymentSchedule')?.invalid && isSubmited" severity="error"
                            text="Payment schedule is required"></p-message>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Ntt data entity<span class="text-red-500">*</span></label>
                        <input type="text" pInputText formControlName="nttDataEntity"
                            [class]="addForm.get('nttDataEntity')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                        <p-message *ngIf="addForm.get('nttDataEntity')?.invalid && isSubmited" severity="error"
                            text="Ntt data entity is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">Legal entity name<span class="text-red-500">*</span></label>
                        <input type="text" pInputText formControlName="legalEntityName"
                            [class]="addForm.get('legalEntityName')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                        <p-message *ngIf="addForm.get('legalEntityName')?.invalid && isSubmited" severity="error"
                            text="Legal entity name is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">VAT legal entity</label>
                        <input type="text" pInputText formControlName="vatLegalEntity">
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Type of cost<span class="text-red-500">*</span></label>
                        <p-dropdown [options]="typeOfCost" formControlName="typeOfCost" optionLabel="typeOfCost"
                            [class]="addForm.get('typeOfCost')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
                        <p-message *ngIf="addForm.get('typeOfCost')?.invalid && isSubmited" severity="error"
                            text="Type of cost is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">BIC/SWIFT<span class="text-red-500">*</span></label>
                        <input type="text" pInputText formControlName="bicSwift"
                            [class]="addForm.get('bicSwift')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                        <p-message *ngIf="addForm.get('bicSwift')?.invalid && isSubmited" severity="error"
                            text="BIC/SWIFT is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">PO reference</label>
                        <input type="text" pInputText formControlName="poReference">
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Approver<span class="text-red-500">*</span></label>
                        <p-dropdown [options]="approver" formControlName="approver" optionLabel="approver"
                            [class]="addForm.get('typeOfCost')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
                        <p-message *ngIf="addForm.get('approver')?.invalid && isSubmited" severity="error"
                            text="Approver is required"></p-message>
                    </div>
                    <div class="field col mb-0">
                        <label class="pt-2 font-semibold">IBAN Number<span class="text-red-500">*</span></label>
                        <input type="text" pInputText formControlName="ibanNumber"
                            [class]="addForm.get('ibanNumber')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                        <p-message *ngIf="addForm.get('ibanNumber')?.invalid && isSubmited" severity="error"
                            text="IBAN Number is required"></p-message>
                    </div>
                    <div class="field col mb-0 mt-5 flex align-items-center">
                        <label class="font-semibold mr-3">On hold</label>
                        <p-inputSwitch formControlName="onHold"></p-inputSwitch>
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold mr-4">Invoice document</label>
                        <button (click)="upload()" type="button" pButton label="Upload" icon="pi pi-upload"
                            class="p-button-outlined p-button-sm p-button-primary w-3 ml-8 p-1"></button>
                        <input type="text" pInputText formControlName="invoiceDocument" class="mt-2">
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold mr-6">Approval proof</label>
                        <button (click)="upload()" type="button" pButton label="Upload" icon="pi pi-upload"
                            class="p-button-outlined p-button-sm p-button-primary w-3 ml-8 p-1"></button>
                        <input type="text" pInputText formControlName="approvalProof" class="mt-2">
                    </div>
                    <div class="field col mb-0">
                        <label class="font-semibold">SAP Vendor</label>
                        <input type="text" pInputText formControlName="sapVendor" class="mt-2">
                    </div>
                </div>
                <div class="grid">
                    <div class="field col mb-0">
                        <label class="font-semibold">Comment</label>
                        <textarea pInputTextarea formControlName="comment"></textarea>
                    </div>
                    <div class="field col mb-0 mt-5">
                        <p-table #dtOerp [value]="oerp" dataKey="id" styleClass="p-datatable-gridlines"
                            responsiveLayout="scroll" scrollDirection="both" [scrollable]="true" scrollHeight="400px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of cols">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-oerp>
                                <tr>
                                    <td *ngFor="let col of cols">
                                        {{oerp[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No data found.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="8">Loading data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Details" class="p-fluid m-0 pb-4">
                <div class="pb-3">
                    <label class="font-semibold">Normal Performances</label>
                    <div class="m-2"></div>
                    <p-table #dtPerformance [value]="performances" dataKey="id" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll" scrollDirection="both" [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of colsPerformance">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-performance>
                            <tr>
                                <td *ngFor="let col of colsPerformance">
                                    {{performance[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="pb-3">
                    <label class="font-semibold">Povision of services - Performances</label>
                    <div class="m-2"></div>
                    <p-table #dtProvisionPerformance [value]="provisionPerformances" dataKey="id"
                        styleClass="p-datatable-gridlines" responsiveLayout="scroll" scrollDirection="both"
                        [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of colsProvisionPerformance">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-provisionPerformance>
                            <tr>
                                <td *ngFor="let col of colsProvisionPerformance">
                                    {{provisionPerformance[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="pb-3">
                    <label class="font-semibold">Povision of services - General</label>
                    <div class="m-2"></div>
                    <p-table #dtGeneral [value]="generals" dataKey="id" styleClass="p-datatable-gridlines"
                        responsiveLayout="scroll" scrollDirection="both" [scrollable]="true" scrollHeight="400px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of colsGeneral">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-general>
                            <tr>
                                <td *ngFor="let col of colsGeneral">
                                    {{general[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="footer-filled">
            <button pButton pRipple class="p-button-outlined p-button-sm bg-white ml-2" (click)="generateCreditNote()"
                label="Generate credit note"></button>
            <div class="flex">
                <button (click)="close()" type="button" pButton class="p-button-sm p-button-secondary"
                    label="Close"></button>
                <button type="submit" pButton (click)="onSubmit()" class="p-button-sm p-button-primary mr-2"
                    label="Save" [loading]="actionLoading"></button>
            </div>
        </div>
    </form>
</div>
<p-dialog [(visible)]="visible" [style]="{ width: '30vw' }">
    <div class="text-center">
        <p class="pi pi-exclamation-circle text-yellow-500 text-6xl font-semibold"></p>
        <p class="text-4xl font-semibold">Credit invoice</p>
        <p>What would you like to do ?</p>
        <p-dropdown appendTo="body" [options]="creditInvoice" optionLabel="name"></p-dropdown>
        <div class="mt-4">
            <button pButton pRipple (click)="visible = false" label="Yes"
                class="p-button-sm p-button-primary mr-2 w-3"></button>
            <button pButton pRipple (click)="visible = false" label="No"
                class="p-button-sm p-button-danger w-3"></button>
        </div>
    </div>
</p-dialog>