<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-2 mb-4">
        <div class="field">
            <label for="valueId"> <b>Name</b><span class="text-red-500">*</span></label>
            <input type="text" pInputText
                [class]="addEditForm.get('valueId')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"
                formControlName="valueId">
            <p-message *ngIf="addEditForm.get('valueId')?.invalid && isSubmited" severity="error"
                [text]="getErrorMessage('Name', addEditForm.get('valueId')?.errors)"></p-message>
        </div>
        <div class="field">
            <label for="idNumber"> <b>ID number</b></label>
            <input type="text" pInputText formControlName="idNumber">
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="subContBa"> <b>IBAN number</b></label>
                <input type="text" pInputText formControlName="subContBa">
            </div>
            <div class="field col">
                <label for="vatNumber"> <b>VAT number</b></label>
                <input type="text" pInputText formControlName="vatNumber">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="subContBicsw"> <b>BIC/SW</b></label>
                <input type="text" pInputText formControlName="subContBicsw">
            </div>
            <div class="field col">
                <label for="idApproverSub"> <b>Approver</b></label>
                <p-dropdown [options]="approvers" placeholder="Choose approver" formControlName="idApproverSub" 
                    optionLabel="displayLabel" optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="idPaymentTerm"> <b>Payment terms</b></label>
                <p-dropdown [options]="paymentTerm" placeholder="Choose payment term" formControlName="idPaymentTerm"
                    optionLabel="displayLabel" optionValue="id"></p-dropdown>
            </div>
            <div class="field col">
                <label for="idTypeOfCost"> <b>Type of cost</b></label>
                <p-dropdown [options]="typeOfCost" placeholder="Choose type of cost" formControlName="idTypeOfCost"
                    optionLabel="displayLabel" optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="legalEntityName"> <b>Legal entity name</b></label>
                <input type="text" pInputText formControlName="legalEntityName">
            </div>
            <div class="field col">
                <label for="subContVatRate"> <b>VAT rate</b></label>
                <div class="p-inputgroup">
                <input decimal type="text" pInputText formControlName="subContVatRate">
                <span class="p-inputgroup-addon">%</span> 
                </div>
            </div>
        </div>
        <div class="field">
            <label for="legalEntityAdress"> <b>Legal entity address</b></label>
            <input type="text" pInputText formControlName="legalEntityAdress">
        </div>
        <div class="field">
            <p-checkbox formControlName="isOfficial" [binary]="true" label="Official"></p-checkbox>
        </div>
    </div>
    
    <div class="footer">
        <button type="submit" pButton pRipple class="p-button-sm p-button-primary ml-2" label="Save" [loading]="actionLoading"></button>
        <button (click)="close()" type="button" pButton pRipple class="p-button-outlined p-button-sm p-button-secondary"
            label="Close"></button>
    </div>
</form>
