<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-2 mb-4">
        <div class="field">
            <label for="valueId" class="font-semibold">Name<span class="text-red-500">*</span></label>
            <input type="text" pInputText
                [class]="addEditForm.get('valueId')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"
                formControlName="valueId">
            <p-message *ngIf="addEditForm.get('valueId')?.invalid && isSubmited" severity="error"
                [text]="getErrorMessage('Name', addEditForm.get('valueId')?.errors)"></p-message>
        </div>
        <div class="field">
            <label for="idNumber" class="font-semibold">ID number</label>
            <input type="text" pInputText formControlName="idNumber">
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="ba" class="font-semibold">IBAN number</label>
                <input type="text" pInputText formControlName="ba">
            </div>
            <div class="field col">
                <label for="vatNumber" class="font-semibold">VAT number</label>
                <input type="text" pInputText formControlName="vatNumber">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="bicsw" class="font-semibold">BIC/SW</label>
                <input type="text" pInputText formControlName="bicsw">
            </div>
            <div class="field col">
                <label for="approver" class="font-semibold">Approver</label>
                <p-dropdown [options]="approvers" placeholder="Choose approver" formControlName="approver"
                    optionLabel="displayLabel"></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="paymentTerm" class="font-semibold">Payment terms</label>
                <p-dropdown [options]="paymentTerm" placeholder="Choose payment term" formControlName="paymentTerm"
                    optionLabel="displayLabel"></p-dropdown>
            </div>
            <div class="field col">
                <label for="typeOfCost" class="font-semibold">Type of cost</label>
                <p-dropdown [options]="typeOfCost" placeholder="Choose type of cost" formControlName="typeOfCost"
                    optionLabel="displayLabel" ></p-dropdown>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="legalEntityName" class="font-semibold">Legal entity name</label>
                <input type="text" pInputText formControlName="legalEntityName">
            </div>
            <div class="field col">
                <label for="vatRate" class="font-semibold">VAT rate</label>
                <div class="p-inputgroup">
                <input decimal type="text" pInputText formControlName="vatRate">
                <span class="p-inputgroup-addon">%</span>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="legalEntityAdress" class="font-semibold">Legal entity address</label>
            <input type="text" pInputText formControlName="legalEntityAdress">
        </div>
        <div class="field">
            <p-checkbox formControlName="isOfficial" [binary]="true" label="Official"></p-checkbox>
        </div>
    </div>

    <div class="footer">
        <button type="submit" pButton pRipple class="p-button-sm p-button-primary ml-2" label="Save" [loading]="actionLoading"></button>
        <button (click)="close()" type="button" pButton pRipple class="p-button-outlined p-button-sm p-button-secondary"
            label="Close"></button>
    </div>
</form>
