<div *ngIf="addEditForm">
    <form [formGroup]="addEditForm" class="mb-3">
        <p-tabView orientation="left">
            <p-tabPanel header="Business request" class="p-fluid m-0">
                <div class="field">
                    <label class="font-semibold">Request number <span
                            class="text-red-500">*</span></label>
                    <input type="text" pInputText
                        [class]="addEditForm.get('requestNumber')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"
                        placeholder="Request number" formControlName="requestNumber">
                    <p-message *ngIf="addEditForm.get('requestNumber')?.invalid && isSubmited" severity="error"
                        text="Request number is required"></p-message>
                </div>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Source</label>
                        <input type="text" pInputText placeholder="Source" formControlName="requestOrExtension">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">SC Number</label>
                        <input type="text" pInputText placeholder="SC Number" formControlName="scNumber">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Department</label>
                        <input type="text" pInputText placeholder="Department" formControlName="department">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Place of delivery</label>
                        <input type="text" pInputText placeholder="Place of delivery" formControlName="placeOfDelivery">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Framework contract</label>
                        <input type="text" pInputText placeholder="Framework contract"
                            formControlName="frameworkContract">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Signature date</label>
                        <p-calendar [showIcon]="true" [readonlyInput]="true"
                            formControlName="signatureDate"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Maximum end date</label>
                        <p-calendar [showIcon]="true" [readonlyInput]="true"
                            formControlName="maximumEndDate"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Specific client code</label>
                        <input type="text" pInputText placeholder="Specific client code"
                            formControlName="specificClientCode">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Project start date</label>
                        <p-calendar [showIcon]="true" [readonlyInput]="true"
                            formControlName="projectStartDate"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Contract status</label>
                        <input type="text" pInputText placeholder="Contract status" formControlName="contractStatus">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label class="font-semibold">Total price</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">CHF</span>
                            <input decimal type="text" pInputText placeholder="Total price"
                                formControlName="totalPrice">
                        </div>
                    </div>
                    <div class="field col text-right">
                        <button pButton pRipple (click)="businessRequest()" label="Business request"
                            class="border-white w-auto p-button-sm md:mt-8"></button>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="T&M control" class="p-fluid m-0">
                <div class="formgrid grid">
                    <div class="col formgrid grid">
                        <div class="field col-12 md:col-3">
                            <label class="font-semibold">Number of days</label>
                            <input type="text" decimal pInputText placeholder="Number of days"
                                formControlName="numberOfDays">
                        </div>
                        <div class="field col-12 md:col-3">
                            <label class="font-semibold">N days transformed</label>
                            <input type="text" decimal pInputText placeholder="N days transformed"
                                formControlName="nDaysTransformed">
                        </div>
                        <div class="field col-12 md:col-3">
                            <label class="font-semibold">Management fee</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">CHF</span>
                                <input decimal type="text" pInputText placeholder="Management fee"
                                    formControlName="managementFee">
                            </div>
                        </div>
                        <div class="field col-12 md:col-3">
                            <p-splitButton label="Change cost" [model]="cost" (onClick)="changeCost()"
                                styleClass="p-button-sm w-auto md:w-fit p-button-primary mt-5"></p-splitButton>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label class="font-semibold">Maximum cost</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">€</span>
                                <input type="text" decimal pInputText placeholder="Maximum cost"
                                    formControlName="maximumCost">
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label class="font-semibold">Additional budget</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"></span>
                                <input type="text" decimal pInputText placeholder="Additional budget"
                                    formControlName="additionalBudget">
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label class="mt-2" class="font-semibold">MF invoiced Y/N</label>
                            <div class="mt-2">
                                <p-radioButton name="mfInvoiced" class="mr-2" [value]="true" label="Yes"
                                    formControlName="mfInvoiced"></p-radioButton>
                                <p-radioButton name="mfInvoiced" [value]="false" label="No"
                                    formControlName="mfInvoiced"></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4 flex flex-column">
                        <div class="flex">
                            <div class="field">
                                <label class="font-semibold">OERP project code<span
                                        class="text-red-500">*</span></label>
                                <input type="text" pInputText placeholder="OERP project code"
                                    formControlName="oerpProjectCode"
                                    [class]="addEditForm.get('oerpProjectCode')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''">
                                <p-message *ngIf="addEditForm.get('oerpProjectCode')?.invalid && isSubmited"
                                    severity="error" text="OERP project code is required"></p-message>
                            </div>
                            <div class="field ">
                                <button pButton pRipple (click)="add()" label="Add"
                                    class="p-button-outlined p-button-secondary p-button-sm ml-3 mt-5"></button>
                            </div>
                        </div>
                        <p-table #dtOERP [value]="oerp" dataKey="id" [tableStyle]="{'width':'100%'}"
                            [resizableColumns]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of cols">
                                        {{ col.header }}
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-oerp>
                                <tr>
                                    <td *ngFor="let col of cols">
                                        {{oerp[col.field]}}
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-0"
                                            (click)="delete(oerp)"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No OERP project code found.</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="8">Loading OERP project code data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="field col mr-5 -mx-3">
                    <p-table #dtOERP [value]="consultant" dataKey="id" [resizableColumns]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th></th>
                                <th *ngFor="let col of colsConsultant">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-consultant>
                            <tr>
                                <td>
                                    <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text p-0"
                                        (click)="editConsultant(consultant)"></p-button>
                                </td>
                                <td *ngFor="let col of colsConsultant">
                                    {{consultant[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No consultant found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading consultant data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Performance" class="p-fluid m-0">
                <div class="flex justify-content-between mb-3">
                    <div class="flex">
                        <p-splitButton label="Generate invoice" [model]="invoice" (onClick)="generateInvoice()"
                            styleClass="p-button-sm p-button-primary w-auto text-sm mr-2"></p-splitButton>
                        <p-splitButton label="Process for payment" [model]="processForPayment"
                            (onClick)="processPayment()"
                            styleClass="p-button-sm p-button-primary w-auto"></p-splitButton>
                    </div>
                    <div class="flex text-sm">
                        <p-splitButton label="Purchase order" [model]="purchaseOrder" (onClick)="purchaseOrders()"
                            class="p-button-sm p-button-primary w-auto text-sm mr-2"></p-splitButton>
                        <button pButton pRipple (click)="transformForExtraServices()"
                            class="p-button-sm p-button-primary w-auto mr-2"
                            label="Transform for Extra services"></button>
                        <button pButton pRipple (click)="generateTsTemplate()"
                            class="p-button-sm p-button-primary w-auto mr-2" label="Generate TS template"></button>
                        <button pButton pRipple (click)="addEditDaysWorked('add',0)"
                            class="p-button-outlined p-button-sm p-button-primary w-auto" icon="pi pi-plus-circle"
                            label="Add"></button>
                    </div>
                </div>
                <p-treeTable [className]="'performance'" #dtPerformance [value]="performance"
                    [columns]="colsPerformance" [(selection)]="selectedPerformances" selectionMode="multiple"
                    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
                    responsiveLayout="scroll" [scrollable]="true" scrollHeight="400px"
                    styleClass="p-treetable-gridlines" [resizableColumns]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="w-4rem"></th>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr (dblclick)="addEditDaysWorked('edit',rowData)">
                            <td class="w-4rem p-0 text-center">
                                <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                            </td>
                            <ng-container *ngFor="let col of columns; let i = index">
                                <td *ngIf="col.field == 'action' && !rowData[col.field]">
                                    <p-button icon="pi pi-trash"
                                        styleClass="p-button-danger p-button-text p-button-sm p-0"
                                        (click)="deleteDaysWorked(rowData)"></p-button>
                                    <p-button icon="pi pi-pencil"
                                        styleClass="p-button-info p-button-text p-button-sm p-0"
                                        (click)="addEditDaysWorked('edit',rowData)"></p-button>
                                    <p-button icon="pi pi-arrow-circle-down"
                                        styleClass="p-button-secondary p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-upload"
                                        styleClass="p-button-secondary p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-bookmark"
                                        styleClass="p-button-info p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-credit-card"
                                        styleClass="p-button-info p-button-text p-button-sm p-0"></p-button>
                                </td>
                                <td *ngIf="col.field != 'action' || rowData[col.field]">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0 "></p-treeTableToggler>
                                    {{ rowData[col.field]}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No performance found.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="8">Loading performances data. Please wait.</td>
                        </tr>
                    </ng-template>
                </p-treeTable>
                <div class="card mt-4">
                    <div class="flex justify-content-between align-items-center">
                        <h5 class="mb-0">Provision of services - Performances</h5>
                        <button pButton (click)="isCollapsed.performance = !isCollapsed.performance"
                            [icon]="isCollapsed.performance ? 'pi pi-chevron-down' : 'pi pi-chevron-up' "
                            class="p-button-text p-2"></button>
                    </div>
                    <div [@showHide]="isCollapsed.performance ? 'true' : 'false'" class="grid p-fluid">
                        <div class="flex justify-content-end w-full mb-2">
                            <p-splitButton label="Purchase order" [model]="purchaseOrder" (onClick)="purchaseOrders()"
                                styleClass="p-button-sm p-button-primary w-12rem mr-2"></p-splitButton>
                            <button pButton pRipple (click)="addMonth()"
                                class="p-button-outlined p-button-sm p-button-primary w-10rem" icon="pi pi-plus-circle"
                                label="Add month"></button>
                        </div>
                        <div class="formgrid grid">
                            <p-treeTable #dtPerformance [columns]="colsPerformances"
                                [(selection)]="selectedPerformances" selectionMode="multiple"
                                (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
                                responsiveLayout="scroll" scrollDirection="both" [scrollable]="true"
                                scrollHeight="400px" [rowHover]="true" styleClass="p-treetable-gridlines"
                                [resizableColumns]="true">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 4rem"></th>
                                        <th *ngFor="let col of columns">
                                            {{ col.header }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                                    <tr>
                                        <td style="width: 4rem">
                                            <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns; let i = index">
                                            <p-treeTableToggler [rowNode]="rowNode"
                                                *ngIf="i === 0"></p-treeTableToggler>
                                            {{ rowData[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">No data found.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="8">Loading data. Please wait.</td>
                                    </tr>
                                </ng-template>
                            </p-treeTable>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="flex justify-content-between align-items-center">
                        <h5 class="mb-0">Provision of services - General</h5>
                        <button pButton (click)="isCollapsed.general = !isCollapsed.general"
                            [icon]="isCollapsed.general ? 'pi pi-chevron-down' : 'pi pi-chevron-up' "
                            class="p-button-text p-2"></button>
                    </div>
                    <div [@showHide]="isCollapsed.general ? 'true' : 'false'" class="grid p-fluid">
                        <div class="flex justify-content-end w-full mb-2">
                            <button pButton pRipple (click)="addLine()"
                                class="p-button-outlined p-button-sm p-button-primary w-10rem" icon="pi pi-plus-circle"
                                label="Add line"></button>
                        </div>
                        <div>
                            <p-table #dtGeneral [value]="general" [scrollable]="true" [columns]="colsGeneral"
                                scrollDirection="both" scrollHeight="400px" responsiveLayout="scroll"
                                styleClass="p-datatable-gridlines">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 4rem">
                                        </th>
                                        <th *ngFor="let col of columns">
                                            {{ col.header }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-general let-columns>
                                    <tr (dblclick)="edit(general)">
                                        <td>
                                            <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text"
                                                (click)="edit(general)"></p-button>
                                            <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text"
                                                (click)="deleteGeneral(general)"></p-button>
                                        </td>
                                        <td *ngFor="let col of columns">
                                            {{general[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="11">No data found.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="11">Loading data. Please wait.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label class="font-bold">Performance comment</label>
                        <textarea pInputTextarea formControlName="performanceComment"></textarea>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Travel expenses" class="p-fluid m-0">
                <div class="flex justify-content-between mb-3">
                    <div class="flex">
                        <button pButton pRipple label="Generate invoice" (onClick)="generateInvoice()"
                            class="p-button-sm p-button-primary w-auto text-sm mr-2"></button>
                        <button pButton pRipple label="Process for payment" (onClick)="processPayment()"
                            class="p-button-sm p-button-primary w-auto"></button>
                    </div>
                    <div class="flex text-sm">
                        <button pButton pRipple (click)="addEditMission('add',0)" label="New mission" icon="pi pi-plus-circle"
                            class="p-button-outlined p-button-sm p-button-primary w-auto"></button>
                    </div>
                </div>
                <div>
                    <p-table #dtMission [value]="missions" [(selection)]="selectedMissions" dataKey="id" [rowHover]="true"
                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [scrollable]="true"
                        scrollDirection="both" scrollHeight="400px" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines" [resizableColumns]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 4rem">
                                </th>
                                <th></th>
                                <th *ngFor="let col of colsMission">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-mission>
                            <tr (dblclick)="addEditMission('edit',mission)">
                                <td>
                                    <p-tableCheckbox [value]="mission"></p-tableCheckbox>
                                </td>
                                <td>
                                    <p-button icon="pi pi-pencil" (click)="addEditMission('edit',mission)"
                                        styleClass="p-button-info p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-trash"  (click)="delete(mission.id)"
                                        styleClass="p-button-danger p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-bookmark" 
                                        styleClass="p-button-info p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-credit-card"
                                        styleClass="p-button-info p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-file-pdf" (click)="exportPDF(mission)" 
                                        styleClass="p-button-secondary p-button-text p-button-sm p-0"></p-button>
                                    <p-button icon="pi pi-file-excel"
                                        styleClass="p-button-secondary p-button-text p-button-sm p-0"></p-button>    
                                </td>
                                <td *ngFor="let col of colsMission">
                                    {{mission[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading missions data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Invoicing">
                <div class="col formgrid grid">
                    <div class="field col-12 md:col-2 mt-3">
                        <label class="font-semibold">Remaining amount</label>
                    </div>
                    <div class="field col-12 md:col-2">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">€</span>
                            <input type="text" decimal pInputText formControlName="remainingAmount">
                        </div>
                    </div>
                </div>
                <div>
                    <p-treeTable [value]="invoices" [lazy]="true" [columns]="colsInvoice" responsiveLayout="scroll" 
                        scrollDirection="both" [scrollable]="true" scrollHeight="400px" 
                        styleClass="p-treetable-gridlines" expandedIcon="null" collapsedIcon="null">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                            <tr (dblclick)="editInvoice(rowData)">
                                <td *ngFor="let col of columns; let i = index">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" ></p-treeTableToggler>
                                    {{ rowData[col.field] }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-treeTable>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Payment" class="p-fluid m-0">
                <p-tabView class="side-tabview">
                    <p-tabPanel header="Consultant payment process" class="p-fluid m-0">
                        <div class="formgrid grid">
                            <div class="field col">
                                <label class="font-bold">PO reference</label>
                                <input type="text" pInputText formControlName="poReference">
                            </div>
                            <div class="field col">
                                <label class="font-bold">PO end date</label>
                                <input type="text" pInputText formControlName="poEndDate">
                            </div>
                            <div class="field col">
                                <label class="font-bold">PO total amount</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">€</span>
                                    <input decimal type="text" pInputText formControlName="poTotalAmount">

                                </div>
                            </div>
                            <div class="field col">
                                <label class="font-bold">PO remaining amount</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">€</span>
                                    <input decimal type="text" pInputText formControlName="poRemainingAmount">

                                </div>
                            </div>
                        </div>
                        <div>
                            <p-treeTable [value]="payments" [lazy]="true" [columns]="colsPayment" styleClass="p-treetable-gridlines"
                                responsiveLayout="scroll" scrollDirection="both" [scrollable]="true"
                                scrollHeight="400px" [resizableColumns]="true"expandedIcon="null" collapsedIcon="null">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{ col.header }}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                                    <tr (dblclick)="editPayment(rowData)">
                                        <td *ngFor="let col of columns; let i = index">
                                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" ></p-treeTableToggler>
                                            {{ rowData[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">No data found.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="8">Loading data. Please wait.</td>
                                    </tr>
                                </ng-template>
                            </p-treeTable>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>
            <p-tabPanel header="Documentation" class="p-fluid m-0">
                <div class="flex flex-row-reverse">
                    <button pButton pRipple (click)="downloadAll()" class="p-button-sm p-button-warning w-2"
                        icon="pi pi-download" label="Download all"></button>
                </div>
                <div class="field col">
                    <p-fileUpload mode="basic" name="demo[]" chooseLabel="Click or drag file(s) here" [auto]="true"
                        class="flex align-items-center justify-content-center"></p-fileUpload>
                    <p-table #dtDocumentation [value]="documentations" styleClass="p-datatable-gridlines" class="m-5"
                        [resizableColumns]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 9rem">
                                </th>
                                <th *ngFor="let col of colsDocumentation">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-documentation>
                            <tr>
                                <td>
                                    <p-button icon="pi pi-download" styleClass="p-button-warning p-button-text p-0"
                                        (click)="downloadFile(documentation)"></p-button>
                                    <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-0"
                                        (click)="deleteDocumentation(documentation)"></p-button>
                                </td>
                                <td *ngFor="let col of colsDocumentation">
                                    {{documentation[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No data found.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Loading data. Please wait.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="footer-filled">
            <div class="flex">
                <button pButton pRipple (click)="generateNTTDataContract()" class="p-button-sm p-button-primary "
                    label="Generate NTT data contract"></button>
                <button pButton pRipple (click)="terminateContract()" class="p-button-sm p-button-danger ml-2"
                    label="Terminate contract"></button>
            </div>
            <div class="flex">
                <button type="submit" pButton (click)="onSubmit()" class="p-button-sm p-button-primary mr-2"
                    label="Save" [loading]="actionLoading"></button>
                <button (click)="close()" type="button" pButton class="p-button-sm p-button-secondary"
                    label="Close"></button>
            </div>
        </div>
    </form>
</div>