<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid p-2 mb-4">
    <div class="field">
      <label for="valueId" class="font-semibold"> Department <span class="text-red-500">*</span></label>
      <input type="text" pInputText [class]="addForm.get('valueId')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"
        placeholder="Department" formControlName="valueId">
      <p-message *ngIf="addForm.get('valueId')?.invalid && isSubmited" severity="error"
        text="Department is required"></p-message>
    </div>
  </div>
  <div class="footer">
    <button (click)="close()" type="button" pButton class="p-button-sm p-button-secondary ml-2" label="Close"></button>
    <button type="submit" pButton class="p-button-sm p-button-primary" label="Save"></button>
  </div>
</form>
