$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

.performance .p-treetable table {
    width: unset;
}

.centred-header .p-dialog .p-dialog-header {
    justify-content: center;
    padding: 1rem;

    .p-dialog-title {
        font-weight: 600;
        font-size: 1rem;
    }

    .p-dialog-header-icons {
        display: none;
    }

    border-bottom: 1px solid var(--primary-color);
}