<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()" class="mt-2 mb-5">
  <div class="p-fluid p-2 mb-4">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="profile" class="font-semibold">Profile <span class="text-red-500">*</span></label>
        <p-dropdown [options]="profile" optionLabel="displayLabel" formControlName="profile"
          [class]="addEditForm.get('profile')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
        <p-message *ngIf="addEditForm.get('profile')?.invalid && isSubmited" severity="error"
          [text]="getErrorMessage('profile', addEditForm.get('profile')?.errors)"></p-message>
      </div>
      <div class="field col-12 md:col-3">
        <label for="salesPrice" class="font-semibold">Sales price</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">€</span>
          <input type="text" formControlName="salesPrice" pInputText />
        </div>
      </div>
      <div class="field col-12 md:col-3">
        <label for="numberOfDays" class="font-semibold">Number of days</label>
        <input type="text" pInputText formControlName="numberOfDays">
      </div>
      <div class="field col-12 md:col-4">
        <label for="consultantCost" class="font-semibold">Consultant cost</label>
        <div class="flex grouped-select">
          <input type="text" pInputText formControlName="consultantCost">
          <p-dropdown placeholder="€"></p-dropdown>
        </div>
      </div>
      <div class="field col-12 md:col-2">
        <label for="margin" class="font-semibold">Margin</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">%</span>
          <input type="text" pInputText formControlName="margin" />
        </div>
      </div>
      <div class="field col-12 md:col-3">
        <label for="typeOfContract" class="font-semibold">Type of contract</label>
        <p-dropdown [options]="typeOfContract" formControlName="typeOfContract"
          [class]="addEditForm.get('typeOfContract')?.invalid && isSubmited ? 'ng-dirty ng-invalid' : ''"></p-dropdown>
        <p-message *ngIf="addEditForm.get('typeOfContract')?.invalid && isSubmited" severity="error"
          [text]="getErrorMessage('typeOfContract', addEditForm.get('typeOfContract')?.errors)"></p-message>
      </div>
      <div class="field col-12 md:col-3">
        <label for="expectedSD" class="font-semibold">Expected started date</label>
        <p-calendar formControlName="expectedSD" [disabledDays]="[5,6]" [showIcon]="true"
          [readonlyInput]="true"></p-calendar>
      </div>
      <div class="field col-12 md:col-6">
        <label for="subcontractorName" class="font-semibold">Subcontractor name</label>
        <p-dropdown [options]="subcontractorName" optionLabel="displayLabel" formControlName="subcontractorName"></p-dropdown>
      </div>
      <div class="field col-12 md:col-6">
        <label for="thirdPR" class="font-semibold">Third party rate</label>
        <div class="flex grouped-select">
          <input type="text" pInputText formControlName="thirdPR">
          <p-dropdown></p-dropdown>
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <label for="dayfOfTrain" class="font-semibold">Days of training</label>
        <input type="text" pInputText formControlName="dayfOfTrain">
      </div>
    </div>
  </div>
  <div class="footer">
    <button (click)="close()" type="button" pButton pRipple class="ml-2 p-button-sm p-button-secondary"
      label="Close"></button>
      <button type="submit" pButton pRipple class="p-button-sm p-button-primary" label="Save"
        [loading]="actionLoading"></button>
  </div>
</form>
