<div *ngIf="editForm">
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-2 mb-4">
        <div class="field">
            <label class="font-bold">Email subject</label>
            <input type="text" pInputText formControlName="subject">
        </div>
        <div class="field">
            <label class="font-bold">Email text</label>
            <textarea pInputTextarea formControlName="text"></textarea>
        </div>
    </div>
    
    <div class="footer">
        <button type="submit" pButton pRipple class="p-button-sm p-button-primary ml-2" label="Save" [loading]="actionLoading"></button>
        <button (click)="close()" type="button" pButton pRipple class="p-button-outlined p-button-sm p-button-secondary"
            label="Close"></button>
    </div>
</form>
</div>
